#App {
  text-align: center;
  background-color: teal;
  
}

.main {
  width: 50vh;
  margin: auto;
}

.App-header {
  background-color: teal;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #008B8B;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.article:hover {
  cursor: pointer;
  color: gold;
}

.logo {
  size: 75%;
  position: relative;
  background-color: teal
}

#container {
  border-style: solid;
  border-color: gold;
  text-align: left;
}

#container ::before {
  content: "\1F449";
}
